
@{
    ViewBag.Title = "Final Results";
}

<div class="container">
    <h2>You're Done!</h2>
    <p>Congratz! You have complete the test</p>
    <p>Final Score: @Session["score"]</p>
    <a href="/Home/Question/1" class="start">Take Again</a>
    <a href="/Home/index" class="start">Go Home</a>
</div>

